<% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <div class='error'><%=error%></div>
        <% end %>
    <% end %>
 
<div class='form'>
<h1>Create An Account</h1>
<br><br>
<%= render 'form' %>
<br><br>
Already have an account? Click <a href='/login'>Sign In</a>
</div>
</div>
