<h1><%=@user.name%></h1>
<br><br>
<h2><%=@user.name%>'s Cats</h2>
<% if @cats.length > 0 %>
  <%@cats.each do |cat|%>
    <%= render partial: "layouts/cat_display", locals: {cat: cat} %>
    <br><br>
    <% end %>
<%else %>
  <p>None</p>
  <% end %>
