
<h1>Reservations</h1>

<ul>
<% @reservations.each do |reservation| %>
    <div class="catinfo"><li><%= link_to "#{reservation.date.to_s(:custom_datetime)} #{reservation.cat.name}", reservation %></li></div>
<% end  %>
</ul>
</div>
