/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */

@import 'bootstrap';

body {
    background-image: url("https://wallpaperset.com/w/full/a/a/b/180027.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   }

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
h2{
    text-align: center;
    color: rgb(255, 255, 255);
}

h3{
    text-align: center;
    color: rgb(255, 255, 255);
}

a{
    color: rgb(255, 255, 255);
}

p{
    text-align: center;
    color: rgb(255, 255, 255);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

div.form {
      display: block;
      text-align: center;
  }
form {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
  }

div.button {
    display: block;
    text-align: center;
}
button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

div.page {
    margin-right: 500px;
    margin-left: 500px;
    padding-bottom: 600px;
    background-color:rgba(255,99,71,0.5);


}