<div class='page'>

<h1>Cat Stats</h1>
<br><br>
<h2>Featured Cat</h2>
<%= render partial: "layouts/cat_display", locals: {cat: @featured_cat} %>
<br><br>
<h2>Top 3 Cats:</h2>
<% @top3.each do |cat| %>
  <%= render partial: "layouts/cat_display", locals: {cat: cat} %>
  <br><br>
<% end %>
</div>

