
 
<div class='form' style="margin-left:100px; margin-right:100px;">
<p>Welcome to Cat App, the world's best -and only!- kitty rental service website created by Pat and Janae!</p>
<p>Please <%= link_to "sign up", new_user_path %> or <%=link_to "log in", login_path %> to start renting some cats!</p>
<br>
<p style="text-align:bottom;">Copyright <%="©️"%> 2019 Pat Bosman & Janae Hall</p>
</div>
</div>
