
<a href="http://picasion.com/gl/bWCs/"><img src="http://i.picasion.com/gl/89/bWCs.gif" width="685" height="58" border="0" alt="glitter maker" /></a><br />
<img src='https://ctl.s6img.com/society6/img/DTbICaxifficuPjXngmCUgVI1_o/w_700/prints/~artwork/s6-original-art-uploads/society6/uploads/misc/0f0037cb21f3441db95427cc665c2b7c/~~/psychedelic-cat177723-prints.jpg'>
<%=button_to "View All Cats", cats_path, method: :get %>
